<!-- base.html -->
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
    </head>
    <body>
        <h1>Django Social Login App</h1>
        <hr/>
        {% if user.is_authenticated %}
        You are signed in as <strong>{{ user.username }}</strong> /
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a> /
        {% endif %}
        <hr>

        {% block content %} {% endblock content %}

        {% block javascript %} {% endblock javascript %}

        <footer>
            <hr>
            <small>
                <a href="https://studygyaan.com">studygyaan.com</a> 
            </small>
        </footer>
    </body>
</html>